exporter:
  log_level: INFO
  prometheus_port: 9102
openstack:
  auth_url: https://identity-3.qa-de-1.cloud.sap/v3
  username: <username here>
  password: <password here>
  user_domain_name: Default
  project_domain_name: ccadmin
  project_name: cloud_admin
  region: qa-de-1

collectors:
  cinderbackend:
    collector: openstack_exporter.collectors.cinderbackend.CinderBackendCollector
    enabled: True
    # The expected backends that support sharding
    # The exporter will report stats for each sharding backend
    # If there are no pools currently seen for that backend then the backend is down
    expected_sharding_backends: vmware, standard_hdd
    # The expected backends that don't support sharding that we always
    # want to report.  If there are no pools found then that backend is down.
    # expected_no_sharding_backends: backendA, backendB
    # Allow reporting on unexpected backends discovered from stats
    allow_unexpected_backends: False
  novabackend:
    collector: openstack_exporter.collectors.novaservice.NovaServiceCollector
    enabled: True